<% include ../partials/header %>
<div class="recipe_details_page">
    <h1>Recipe Details</h1>
    <h2><%= recipe.strMeal%></h2>
    <img src="<%= recipe.strMealThumb%>" alt="">
    <h4><%= recipe.strCategory %></h4>
    <h3>Ingredients</h3>
    <ul>
        <% recipe.forEach(recipe =>{%>
        <li><%=recipe.ingredient_name %></li>
    <%})%>
    </ul>
    
    <h3>Directions</h3>
    <p><%= recipe[0].instructions %></p>
    <h3>Nutrition</h3>
    <p><%= recipe[0].nutrition%></p>
</div>

<% include ../partials/footer %>