<% include ../partials/header %>
<div class="edit_container">

<div class="create_recipe">
    <h2>Edit recipe</h2>
</div>
<div class="first_container">
    

<div class="updateContainer">
   <form class="updateRecipeForm" action="" method="">
   <label>
   <h3> Recipe Id:</h3>
   <input class="recipe_id" type="text" name="recipe_id" value="<%=recipe[0].recipe_id%>" disabled>
   </label>
   <br>
   <br>
    <label>
      <h3> Recipe Name:</h3> 
     <input type="text" name="recipe_name" value="<%=recipe[0].recipe_name%>">
    </label>
    <br>
    <br>
    <label>
      <h3> Description:</h3> 
     <textarea name="description" rows="3" cols="40"><%=recipe[0].description%></textarea>
    </label>
    <br>
    <br>
    <label>
    <input type="text" class="ingredient">
    </label>
    <button class="add_ingredient" type="button" >Add Ingredient</button>
    <div class="ingredient_list_container">
     <h3>Ingredient List</h3>
    <select class="ingredients" name="ingredients" size="5" multiple>
     <% recipe.forEach(recipe =>{%>
        <option><%=recipe.ingredient_name %></option>
    <%})%>
    </select>
    <br>
    <button class="remove_ingredient" type="button">Remove Ingredient</button>
    </div>
    <br>
    <br>
    <label>
      <h3> Instructions:</h3> 
     <textarea name="instructions" rows="3" cols="40"><%=recipe[0].instructions%></textarea>
    </label>
    <br>
    <br>
     <label>
      <h3> Nutrition: </h3>
     <textarea name="nutrition" rows="3" cols="40"><%=recipe[0].nutrition%></textarea>
    </label>
    <br>
    <br>
    <label>
      <h3> Recipe Image: </h3>
     <input class="image_url" type="text" name="image_url" value="<%=recipe[0].image_url%>">
    </label>
    <br>
    <br>
    
        <a class="editLink" href="/user_recipes"><h2 class="editRecipe">Save Changes</h2></a>
   
   </form>
</div>
</div>
</div>
<% include ../partials/footer %>